body {background-color: rgba(250, 107, 226, 0.363);}

.colorletra {color: rgb(7, 28, 95);text-decoration-line: underline;font-size:xxx-large}

.tamañoletra {font-size:x-large;}

.just {text-align: center;text-decoration-color: red;}

.decoracion {text-decoration:red;font-size:larger}

.medida1 {height: 100%; }

.medida2 {height:40%;}

.escuela{font-style: italic;text-decoration-line: underline;font-size: larger;}

.tradicion {text-decoration-line: underline}


