body {background-color: rgba(250, 107, 226, 0.363);
      background-image: url(./imagenes/ruda6.jpg);
      background-position: right;
      background-attachment: fixed;
      background-repeat: no-repeat;}

.colorletra {color: rgb(243, 10, 10);text-decoration-line: underline;font-size:xxx-large}

.tamañoletra {font-size:x-large;}

.just {text-align: center;text-decoration-color: red;}

.decoracion {text-decoration:red;font-size:larger}

.medida1 {height: 100%; }

.medida2 {height:40%;}

.escuela{font-style: italic;text-decoration-line: underline;font-size: larger;}

.tradicion {text-decoration-line: underline}

.wapp {width: 70px;
       position: fixed;
       bottom: 10px;
       right: 15px;}

.redes {width: 70px;}

header {background-color: brown;}
div {background-color: aqua;
     height: 200px;
     width: 750px;
     overflow: auto;}
section {background-color: blue;}
aside {background-color: olivedrab;}
footer {background-color: salmon;
            }
nav {background-color: mediumvioletred;}